* {
    box-sizing: border-box;
}

h3 {
    /* text-align: center; */
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

section {
    height: 100%;
    width: 80%;
    text-align: center;
    margin: auto;
    border: 2px solid green;
    background-color: turquoise;
    overflow: auto;
}

#main-content {
    /* padding-top: 70px; */
    height: 1000px;
}

hr {
    color: black;
    margin: 0;
    border: 0.2px solid black;
    border-top: 0;
}

#dropdown {
    text-align: center;
    background-color: aquamarine;
    padding: 0;
}

@media (max-width: 767px) {
    /* #main-content {
        padding-top: 200px;
    } */
}